In [1]:
import pandas as pd
import numpy as np

In [3]:
fraud_testset = pd.read_csv('Insurance Fraud -TEST-12900(1).csv')
print(fraud_testset.shape)
fraud_testset.head()

(12918, 32)

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes
1,Nov,5,Monday,Mazda,Urban,Wednesday,Dec,1,Male,Single,...,over_65,No,No,External,none,no_change,1-vehicle,1994,All_Perils,Yes
2,Jan,1,Monday,Pontiac,Urban,Wednesday,Jan,1,Male,Married,...,41_to_50,No,No,External,none,under_6_months,1-vehicle,1994,All_Perils,Yes
3,Dec,1,Monday,Toyota,Rural,Tuesday,May,3,Male,Married,...,36_to_40,No,No,External,more_than_5,under_6_months,2-vehicles,1994,All_Perils,Yes
4,Dec,5,Wednesday,Pontiac,Urban,Wednesday,Jan,1,Male,Single,...,36_to_40,No,No,External,more_than_5,no_change,1-vehicle,1994,Collision,Yes

In [4]:
all_dummies = pd.get_dummies(fraud_testset, columns=['MONTH', 'DAYOFWEEK', 'MAKE', 'ACCIDENTAREA', 'DAYOFWEEKCLAIMED'
                                                     , 'MONTHCLAIMED', 'SEX', 'MARITALSTATUS', 'FAULT', 'POLICYTYPE'
                                                     , 'VEHICLECATEGORY', 'VEHICLECATEGORY', 'VEHICLEPRICE', 'DAYS_POLICY_ACCIDENT'
                                                     , 'DAYS_POLICY_CLAIM', 'PASTNUMBEROFCLAIMS', 'AGEOFVEHICLE'
                                                     , 'AGEOFPOLICYHOLDER', 'POLICEREPORTFILED', 'WITNESSPRESENT', 'AGENTTYPE'
                                                     , 'NUMBEROFSUPPLIMENTS', 'ADDRESSCHANGE_CLAIM', 'NUMBEROFCARS'
                                                     , 'YEAR', 'BASEPOLICY', 'FRAUDFOUND'], drop_first=True)

In [5]:
fraud_testset = pd.concat([fraud_testset, all_dummies], axis=1)

In [6]:
fraud_testset.head()

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,ADDRESSCHANGE_CLAIM_under_6_months,NUMBEROFCARS_2-vehicles,NUMBEROFCARS_3_to_4,NUMBEROFCARS_5_to_8,NUMBEROFCARS_more_than_8,YEAR_1995,YEAR_1996,BASEPOLICY_Collision,BASEPOLICY_Liability,FRAUDFOUND_Yes
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,0,0,0,0,0,0,0,1,0,1
1,Nov,5,Monday,Mazda,Urban,Wednesday,Dec,1,Male,Single,...,0,0,0,0,0,0,0,0,0,1
2,Jan,1,Monday,Pontiac,Urban,Wednesday,Jan,1,Male,Married,...,1,0,0,0,0,0,0,0,0,1
3,Dec,1,Monday,Toyota,Rural,Tuesday,May,3,Male,Married,...,1,1,0,0,0,0,0,0,0,1
4,Dec,5,Wednesday,Pontiac,Urban,Wednesday,Jan,1,Male,Single,...,0,0,0,0,0,0,0,1,0,1

In [7]:
fraud_testset.to_csv("fraud_testset.csv",index=False)